# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.idea

#parcel-bundler cache folder (used for dev server)
/.cache

# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store
